### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

In [2]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [3]:
#Variables

player_count = purchase_data['SN'].nunique()
player_count


item_count = purchase_data['Item Name'].nunique()
total_price = purchase_data['Price'].sum()
transactions = purchase_data['Purchase ID'].count()
avg_price = total_price / transactions


gender_count = purchase_data['Gender']

In [4]:
total_player_chart = pd.DataFrame({'Total Players':[player_count]}, columns=["Total Players"])
total_player_chart

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [5]:
purchasedata = pd.DataFrame({'Number of Unique Items':[item_count],"Average Price":[avg_price],
                                  'Number of Purchases':[transactions],'Total Revenue':[total_price]}, 
                                  columns=['Number of Unique Items','Average Price','Number of Purchases','Total Revenue'])


purchasedata['Average Price']=purchasedata['Average Price'].map('${:,.2f}'.format)
purchasedata['Total Revenue']=purchasedata['Total Revenue'].map('${:,.2f}'.format)
purchasedata

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [21]:
male = purchase_data["Gender"]=='Male'
malecount = purchase_data[male]['SN'].nunique()

malecount

female = purchase_data["Gender"]=='Female'
femalecount = purchase_data[female]['SN'].nunique()
femalecount

malepercent = malecount/player_count*100
femalepercent = femalecount/player_count*100
otherpercent = (player_count-malecount-femalecount)/player_count*100
other = (player_count-malecount-femalecount)

femalepercent

14.0625

In [7]:
percentchart = pd.DataFrame({'Percent':[malepercent,femalepercent,otherpercent],
                             'Total Count':[malecount,femalecount,(player_count-malecount-femalecount)]}, 
                                  columns=['Percent','Total Count'],index=['Males','Females','Other']) 



percentchart

           Percent  Total Count
Males    84.027778          484
Females  14.062500           81
Other     1.909722           11


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
transactionsmale = purchase_data[male]['Purchase ID'].count()
transactionfemale =purchase_data[female]['Purchase ID'].count() 
transactionother = transactions - transactionsmale - transactionfemale

In [29]:
totalmale = purchase_data[male]['Price'].sum()
totalfemale = purchase_data[female]['Price'].sum()
totalother = total_price - totalmale -totalfemale


avgpricemale = purchase_data[male]['Price'].mean()
avgpricefemale = purchase_data[female]['Price'].mean()
avgpriceother = totalother/transactionother

In [30]:
avgperchart = pd.DataFrame({'Purchase Count':[transactionsmale,transactionfemale,transactionother],
                             'Average Purchase Price':[avgpricemale,avgpricefemale,avgpriceother],
                            'Total Purchase':[totalmale,totalfemale,totalother]}, 
                                  columns=['Purchase Count','Average Purchase Price','Total Purchase'],index=['Males','Females','Other']) 
avgperchart.head()

         Purchase Count  Average Purchase Price  Total Purchase
Males               652                3.017853         1967.64
Females             113                3.203009          361.94
Other                15                3.346000           50.19

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [54]:
bins=[0,10,15,20,25,30,35,39,100]

agegroup= ['<10','10-15','15-20','20-25','25-30','30-35','35-39','40+']

In [55]:
purchase_data['Age Range'] = pd.cut(purchase_data['Age'], bins, labels=agegroup)


purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Range
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,15-20
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-25
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-25
4,4,Iskosia90,23,Male,131,Fury,1.44,20-25

In [111]:
agepercent = purchase_data['Age Range'].value_counts()/780*100
agecount = purchase_data['Age Range'].count()

agegroup = purchase_data.groupby("Age Range")
agecount = agegroup['Purchase ID'].count()

agecount

Age Range
<10       32
10-15     54
15-20    200
20-25    325
25-30     77
30-35     52
35-39     27
40+       13
Name: Purchase ID, dtype: int64

In [113]:
agedemo = pd.DataFrame({"Total Count":agecount,
                            "Percent":agepercent
})

agedemo.head()

       Total Count    Percent
<10             32   4.102564
10-15           54   6.923077
15-20          200  25.641026
20-25          325  41.666667
25-30           77   9.871795

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [120]:
agepurchasecount = agegroup['Purchase ID'].count()
totalagepurchase= agegroup['Price'].sum()
avgagepurchase = agegroup['Price'].mean()
avgperperson = totalagepurchase/agecount

In [121]:
purchaseage = pd.DataFrame({"Purchase Count":agepurchasecount,
                            "Average Purchase Price":avgagepurchase,
                            "Total Purchase Value": totalagepurchase,
                            "Avg Total Per Person": avgperperson
                            })

In [122]:
purchaseage.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Per Person
Age Range,,,,
<10,32,3.405000,108.96,3.405000
10-15,54,2.900000,156.60,2.900000
15-20,200,3.107800,621.56,3.107800
20-25,325,3.020431,981.64,3.020431
25-30,77,2.875584,221.42,2.875584

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [166]:
sngroup = purchase_data.groupby(['SN'])

In [167]:
topspenders = sngroup['Price'].sum().sort_values(ascending=False)

In [168]:
topspenders.head()

SN
Lisosia93      18.96
Idastidru52    15.45
Chamjask73     13.83
Iral74         13.62
Iskadarya95    13.10
Name: Price, dtype: float64

In [177]:
topspenderss = pd.DataFrame({"Top Spenders":topspenders})

In [179]:
topspenderss.head()

             Top Spenders
SN
Lisosia93           18.96
Idastidru52         15.45
Chamjask73          13.83
Iral74              13.62
Iskadarya95         13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [181]:
itemgroups = purchase_data.groupby(['Item Name'])

In [189]:
topitems = itemgroups["Purchase ID"].count().sort_values(ascending=False).head()

In [192]:
topitemdf = pd.DataFrame({'Purchase Count':topitems})

In [193]:
topitemdf.head()

                                              Purchase Count
Item Name
Final Critic                                              13
Oathbreaker, Last Hope of the Breaking Storm              12
Nirvana                                                    9
Persuasion                                                 9
Fiery Glass Crusader                                       9

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [197]:
mostprofitable = itemgroups['Price'].sum().sort_values(ascending=False).head()

In [198]:
itemprofitdf = pd.DataFrame({'Total Purchase Value':mostprofitable})

In [199]:
itemprofitdf.head()

                                              Total Purchase Value
Item Name
Final Critic                                                 59.99
Oathbreaker, Last Hope of the Breaking Storm                 50.76
Nirvana                                                      44.10
Fiery Glass Crusader                                         41.22
Singed Scalpel                                               34.80

In [200]:

topitemdf.merge(itemprofitdf,on='Item Name')

,Purchase Count,Total Purchase Value
Item Name,,
Final Critic,13,59.99
"Oathbreaker, Last Hope of the Breaking Storm",12,50.76
Nirvana,9,44.10
Fiery Glass Crusader,9,41.22